body {
    background: linear-gradient(#83C0C1, #96E9C6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

header {
    background-color: rgb(196, 215, 255);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#navigation-bar {
    background-color: #727cf5;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 5px #727cf5;
}

#logo {
    height: min-content;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    font-family: sans-serif;
}

#locate {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

#box {
    background-color: #727cf5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 10px;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 7px;
    box-shadow: 0 2px 10px #727cf5;
}

#navigation {
    display: flex;
}

#navigation>a {
    text-decoration: none;
    padding: 8px;
}

#navigation:hover {
    color: red;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding-bottom: 8px;
}

.input-field {
    border: 2px solid lightblue;
    width: 250px;
    height: 50px;
    outline: none;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.input-field:focus {
    border: 2px solid rgb(77, 77, 161);
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.my-button {
    background-color: #f9c750;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 0 3px 0 #dfa229;
    width: 250px;
    margin: 3px;
}

.my-button:hover {
    background-color: #f8b32d;
    box-shadow: 0 3px 0 #cf9727;
}

.my-button:active {
    background-color: #e4a424;
    transform: translateY(3px);
    box-shadow: 0 0 0;
}

.button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 10px;

}

.my-button1 {
    background-color: #f9c750;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    box-shadow: 0 3px 0 #dfa229;
}